/* #06283D */
/* #256D85 */
/* #47B5FF */
/* #DFF6FF */
/* #411530 */
/* #D1512D */
/* #F5C7A9 */
/* #F5E8E4 */
*{
  --color_0:#e96f04;
  --color_1:#D8D015;
  --color_2:#444;
  --color_3:white;
  --color_4:rgba(30, 54, 59, 1);
  margin:0;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
