.root{
  width: 100%;
  border-radius: inherit;
  background-color: rgba(0, 0, 0, 0);
  
}
.head{
  background-image: url('../public/user/pitanie.jpg');
  
  background-size: cover;
  height: 65vh;
  width: inherit;
  border: 1px;
  border-radius: inherit;
  display: flex;
  align-items: flex-end;
}

.field{
  display: flex;
  
  width: inherit;
  vertical-align: bottom;
  height: 15vh;
  background: #eee;
}
.parent_logo_container{
  display: flex;
  align-items: flex-end;
}
.logo_container{
  height: calc(15vh + 60px);
}
.logo{
  width:2rem;
  height: 2rem;
  /* background-image: url('../public/user/ava1.png'); */
  background-size: cover;
  background-color: #ffff;
  border-radius: 50%;
  background-origin:content-box;
  border: 5px solid #eee;

  /* position: absolute; */
}
.field{
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: space-around;
}

.user_data{
  display: flex;
  flex-direction: row;
}

.user_icons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20%;
  max-width: 200px;
  align-items: center;
}

.user_icons>img{
  height: 50px;
  background-size: cover;
}

.name>h3{
  margin-top: 10px;
  margin-bottom: 5px;
}

.phone{
  color: rgba(0, 0, 0, 0.7);
}

.event_list{
  margin-top: 20px;
  width: inherit;
  min-height: calc(100vh - 60px - 65vh); 
  background: #eee;
  border: 1px;
  border-radius: 0 0 20px 20px;
}
.event{
  height: 10vh;
  width: 90%;
  margin-top: 15px;
  border-radius: 5px;
  padding: 0 15px;
  color: var(--color_4);
}
.event:hover>.event_head{
  color:var(--color_1);;
}
.event_head{
  width: 90%;
  padding: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.event_description{
  padding: inherit;
  width: 90%;
}
.event_head>p{
  padding-top: 5px;
  vertical-align: bottom;
}

.addEvents{
  margin: 0 auto;
  width: 100%;
  border-radius: 20px;
}

.addEventsHead{
  height: 40px;
  color: white;
  background-color: #D14B08;
  text-align: center;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  display: flex;
  align-items: center;
}
.addEventsHead>h2{
  margin: 0 auto;
}

.addEventsFields{
  width: 70%;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

.addEventsField{
  width: 100%;
  margin-bottom: 15px;
}

.addEventsField>input, .addEventsField>textarea{
  padding: 0 5px;
  font-size: 15px;
  width: 100%;
  height: 2em;
  border: 3px solid #FFFF00;
  outline:none;
  border-radius: 5px;
}
.addEventsField>textarea{
  padding-top: 5px;
  resize: none;
  height: 70px;
}

.addEventsButtonContainer{
  width: 70%;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

.addEventsButton{
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
  background: #FFFF00;
  outline:none;
  border-radius: 20px;
  padding: 15px;
  border: 0px;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
  margin-bottom: 15px;
}
.addEventsButton:active{
  background: #D8D015;
}