.back{
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(20, 12, 8, 0.9);
    position: fixed;
    display: flex;
    align-items: center;
}

.content{
    min-width: 300px;
    max-width: 500px;
    width: 50%;
    height: 50vh;
    margin: 0 auto;
    background: white;
    border-radius: 20px;
}