.root{
    background: white;
    width: 100%;
    border-radius: inherit;
}

.content{
    width: 60%;
    max-width: 650px;
    min-width: 380px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 20px;
}

.head{
    margin-top: 20px;
    margin-bottom: 20px;
}
.head>h2{
    text-align: center;
}

.products{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.product{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.summ{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.result{
    padding: 10px 30px;
    background-color: #FFE872;
    border-radius: 20px;
}

.payment_methods{
    display: flex;
}
.payment>p{
    margin-bottom: 10px;
}

.card{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.card_name{
    display: flex;
    width: 70%;
    flex-direction: row;
}
.card_name>div{
    display: flex;
    align-self: center;
}

.card_code{
    display: flex;
    align-self: center;
}


.card_icon{
    width: 70px;
    background-size: cover;
}

.add_card{
    display: flex;
    justify-content: flex-end;
}
.add_card>img{
    height: 23px;
    background-size: cover;
}
.add_card>div{
    display: flex;
    align-self: center;
}